.carouselContainer {
  margin-top: 8px;
  padding-bottom: 8px;
}
.carousel {
  --carouselGap: 24px;
  display: flex;
  gap: var(--carouselGap);
  height: 445px;
  width: calc(100% + var(--carouselGap));
}

.highlights {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .highlightsButtons {
    display: flex;
    gap: 8px;
  }
}

.highlightCard {
  --cardPadding: 16px;
  flex-basis: calc(calc(100% / 3) - var(--carouselGap));
  flex-shrink: 0;
  background-color: #e0e0e0;
  border-radius: 6px;
  .highlightData {
    padding: var(--cardPadding);
    > * + * {
      margin-top: 16px;
    }
  }
  .imageContainer {
    height: 234px;
  }
  .header {
    padding: var(--cardPadding) calc(var(--cardPadding) * 2);
  }

  .description {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .link {
    display: inline-block;
    margin-top: 32px;
    > span + span {
      margin-left: 8px;
    }
  }
}
