@mixin sectionBg($bgColor, $height) {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    height: #{$height};
    top: 0;
    background-color: #{$bgColor};
  }
}

@mixin cardBorder {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
}
