.testimonials {
  display: flex;
  gap: 24px;
}

.testimonial {
  flex: 1;
  border-radius: 6px;
  background-color: #e0e0e0;
  > *:not(hr) {
    padding: 16px;
  }
}

.rating {
  display: flex;
  gap: 4px;
  .ratingStar {
    opacity: 0.45;
    &.active {
      color: var(--primary-yellow);
      opacity: 1;
    }
    &:not(.active) {
      color: var(--primary-green);
    }
  }
}

.testimonialReview {
  font-size: 14px;
}
