.tooltipAnchor {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.show {
    .tooltip {
      opacity: 1;
    }
  }
  &.hide {
    .tooltip {
      opacity: 0;
    }
  }
  .tooltip {
    position: absolute;
    top: calc(-100% - 32px);
    background-color: #222020;
    color: var(--secondary-gray);
    padding: 16px;
    border-radius: 6px;
    text-transform: none;
    transition: opacity 0.3s ease-in-out;
  }
}
